@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --dark-gray: #6C6C72;
    --dark-red: #FA4144;
    --black: #231F20;
    --white: #FFFFFF;
    --white-90: rgb(255 255 255 / 90%);
    --white-60: rgb(255 255 255 / 60%);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    background-color: #0a0909;
}

img {
    max-width: 100%;
}

.dark-gray-color {
    color: var(--dark-gray);
}

.dark-red-color {
    color: var(--dark-red);
}

.black-color {
    color: var(--black);
}

.white-90 {
    color: var(--white-90);
}

.white-60 {
    color: var(--white-60);
}

.white-color {
    color: var(--white);
}

.text-gradient {
    background-clip: text;
    /* Clip the gradient to the text */
    -webkit-background-clip: text;
    /* For Safari */
    color: transparent;
    /* Make the text transparent */
    background-image: linear-gradient(to right, #ffffff 0%, #ffffffad 100%);
    /* Single-color gradient */
}

.head-h1 {
    font-size: 32px;
    line-height: 40px;
}

.head-h2 {
    font-size: 28px;
    line-height: 40px;
}

.head-h3 {
    font-size: 30px;
    line-height: 36px;
}

.head-h4 {
    font-size: 24px;
    line-height: 30px;
}

.head-h5 {
    font-size: 20px;
    line-height: 100%;
}

.head-h6 {
    font-size: 18px;
    line-height: 28px;
}

.text {
    font-size: 16px;
    line-height: 20px;
}

.paragraph-text {
    font-size: 16px;
    line-height: 25px;
}

.z-index-0 {
    z-index: 0;
}

.z-index-1 {
    z-index: 1;
}

.fw-800 {
    font-weight: 800;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

.container-lg {
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 768px) {
    .head-h1 {
        font-size: 38px;
        line-height: 46px;
    }

    .head-h2 {
        font-size: 32px;
        line-height: 44px;
    }

    .head-h3 {
        font-size: 36px;
        line-height: 42px;
    }

    .head-h4 {
        font-size: 28px;
        line-height: 34px;
    }

    .head-h5 {
        font-size: 24px;
    }

    .head-h6 {
        font-size: 20px;
        line-height: 30px;
    }

    .paragraph-text {
        font-size: 18px;
        line-height: 27px;
    }
}

@media (min-width: 992px) {
    .head-h1 {
        font-size: 60px;
        line-height: 60px;
    }

    .head-h2 {
        font-size: 50px;
        line-height: 62px;
    }

    .head-h3 {
        font-size: 40px;
        line-height: 48px;
    }

    .head-h4 {
        font-size: 32px;
        line-height: 38px;
    }
}

@media (min-width: 1200px) {
    .head-h1 {
        font-size: 74px;
        line-height: 74px;
    }

    .head-h2 {
        font-size: 56px;
        line-height: 68px;
    }

    .head-h3 {
        font-size: 44px;
        line-height: 52px;
    }

    .head-h4 {
        font-size: 36px;
        line-height: 42px;
    }

    .container-lg {
        max-width: 1280px;
    }
}

/* Header Styling */
.header-main {
    padding: 40px 0;
    z-index: 99;
    transition: all 0.3s ease;
}

.header-main.dark-header {
    background: #0000008c;
}

.header-main .navbar-nav {
    align-items: center;
}

.header-main .navbar-nav .nav-link {
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;
    color: var(--white);
    padding: 0px;
    margin-right: 24px;
}


.header-main .navbar-nav .nav-link:last-child {
    margin-right: 0;
}

.header-main .navbar-nav .nav-link.nav-link.active,
.header-main.dark-header .navbar-nav .nav-link.nav-link.active {
    color: #E50914;
}

.header-main .navbar-nav .nav-link.nav-link.active:after {
    width: 100%;
}

.header-fixed-space {
    height: 88px;
    width: 100%;
}

.header-main .navbar .navbar-brand img {
    max-width: 200px;
}

.header-main .navbar-nav .nav-link:hover:after {
    width: 100%;
}

.header-main.dark-header .navbar-nav .nav-link:after {
    background: #e50914;
}

/* Footer Styling */
.footer-main {
    background: rgba(0, 0, 0, 0.70);
}

.footer-main .footer-logo img {
    max-width: 220px;
}

.socail-media-icons li {
    margin: 0px 6px 16px;
}

.socail-media-icons li a {
    display: inline-block;
}

.socail-media-icons li a img {
    width: 100%;
    max-width: 30px;
    object-fit: contain;
}

/* Bottom to top button Styling */
#scrollToTop {
    position: fixed;
    top: auto;
    bottom: 0px;
    left: auto;
    right: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 30px;
    background: linear-gradient(285.76deg, #E50914 16.91%, #9F2C32 112.79%);
    color: #FFF;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 15px -6px #000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease;
}

#scrollToTop:hover,
#scrollToTop:focus {
    opacity: 0.8;
}

#scrollToTop.scrollBtn-show {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}


@media (max-width: 992px) {
    .header-main {
        padding: 30px 0;
    }

    .header-main .navbar {
        position: initial;
        z-index: 0;
    }

    .header-main .navbar .navbar-collapse .navbar-nav .nav-link {
        margin: 10px 0;
    }

    .header-main .navbar .navbar-collapse {
        background: #0a0909;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        padding: 20px;
        padding-top: 100px;
        z-index: -1;
        box-shadow: 0 0 25px -15px #000;
        transition: all 0.3s ease;
    }

    .header-main .navbar-nav .nav-link {
        font-size: 16px;
        color: var(--dark-red);
    }

    .navbar .navbar-toggler {
        font-size: 30px;
        line-height: 100%;
        padding: 5px 10px;
        border: 0;
        color: var(--dark-red);
        transition: all 0.2s ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar .navbar-toggler .cross-icon {
        opacity: 0;
        transition: all 0.2s ease;
    }

    .navbar .navbar-toggler i {
        transition: all 0.2s ease;
    }

    .navbar .navbar-toggler[aria-expanded="true"] .cross-icon {
        opacity: 1;
    }

    .navbar .navbar-toggler[aria-expanded="true"] .humburger-icon {
        opacity: 0;
    }

    .header-main .navbar .navbar-collapse {
        opacity: 0;
        visibility: hidden;
    }

    .header-main .navbar .navbar-collapse.show {
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 767px) {
    .header-main {
        padding: 20px 0;
    }
}


/* Page Styling */

.section-main {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-content-wrapper {
    width: 100%;
    max-width: 698px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.linear-white-border {
    position: relative;
}

.linear-white-border:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 1px;
    background: linear-gradient(to top, #000000 0%, rgb(255 255 255 / 40%) 60%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

.custom-btn {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    color: var(--white);
    border-radius: 54px;
    padding: 10px 24px;
    text-transform: capitalize;
    border: 2px solid transparent;
    text-align: center;
    transition: all 0.3s ease;
}

.custom-btn.primary-btn {
    background: var(--dark-red);
    border-color: var(--dark-red);
}

.custom-btn.primary-btn:hover {
    background: transparent;
    color: var(--dark-red);
}

/* Banner Styling */
.banner-main {
    min-height: 700px;
    padding: 180px 0 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-main:after {
    content: "";
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 344px;
    background: #0A0909;
    filter: blur(62px);
}

.banner-main .banner-image img {
    max-width: 600px;
}

.banner-main .content {
    max-width: 796px;
}

/* Our Office Section */
.our-offices {
    background: rgba(1, 1, 1, 0.64);
}

.our-offices .office-address-list .address-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 15px;
    border-radius: 10px;
    height: 100%;
    background: linear-gradient(143deg, rgba(0, 0, 0, 0.00) 0%, rgba(146, 0, 0, 0.20) 100%);
    z-index: 0;
}

.our-offices .office-address-list {
    max-width: 1024px;
}

/* Our Partner Styling */
.our-partners .inner-container {
    padding: 40px 15px;
    background: linear-gradient(180deg, rgba(146, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.00) 100%);
    border-radius: 20px;
    margin-top: -100px;
    z-index: 0;
}

.our-partners .inner-container .content {
    max-width: 760px;
}

.our-partner-slider  {
    max-width: 1000px;
}

.our-partner-slider .slick-list .slick-track {
    display: flex;
    align-items: center;
}

.our-partner-slider .slider-item {
    padding: 0 15px;
}

.our-partner-slider .slider-item .image img {
    margin: 0 auto;
    max-height: 105px;
    object-fit: contain;
}

/* Our Services Styling */

.our-services .services-box {
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    height: 100%;
    z-index: 0;
}

.our-services .services-box .content-inner {}


.our-services .services-box .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.40);
    border-radius: 10px;
}

.our-services .services-box .services-list li {
    display: flex;
    line-height: 24px;
    margin-bottom: 15px;
}

.our-services .services-box .services-list li:last-child {
    margin-bottom: 0;
}

.our-services .services-box .services-list li:before {
    content: "\f0da";
    font-family: 'Font Awesome 6 Free';
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-red);

}

.our-services .services-box .services-list li span {
    width: 100%;
    max-width: calc(100% - 24px);
    padding-left: 8px;
}

/* With Us Section Styling */
.with-us-section {
    background: rgb(211 211 211 / 5%) 0px 0px / 100.181% 100% no-repeat;
}

.contact-us-form .input-field {
    margin-bottom: 20px;
}

.contact-us-form .input-field input {
    background: rgba(217, 217, 217, 0.10);
    border: 1px solid rgba(255, 255, 255, 0.20);
    border-radius: 10px;
    padding: 11px 24px;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
    color: rgba(255, 255, 255, 0.60);
}

.image-wrapper {
    max-width: 600px;
}
.image-wrapper .wrapper {
    position: relative;
    min-height: 378px;
}

.image-wrapper .wrapper:after {
    content: "";
    width: 210px;
    height: 70px;
    background-image: url(../image/red-dotted-image.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: auto;
    right: 17%;
    bottom: 20px;
    z-index: -1;
}

.image-wrapper img {
    width: 100%;
    max-width: 54%;
    max-height: 288px;
    border-radius: 16px;
    object-fit: cover;
    position: absolute;
    top: 38%;
    transform: translateY(-50%);
}

.image-wrapper .first-image {
    margin-top: 90px;
    left: 0;
    z-index: 1;
}

.image-wrapper .last-image {
    right: 0;
}

.image-wrapper .last-image:after {
    content: "";
    width: 210px;
    height: 70px;
    background-image: url('../image/red-dotted-image.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.slider-arrows {
    top: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slider-arrows .slide-arrow {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    background: #E50914;
    color: #FFF;
    transition: all 0.5s ease;
}

.slider-arrows .slide-arrow.slick-disabled {
    background: transparent;
    border-color: #E50914;
    color: #E50914;
}

.slider-arrows .slide-arrow.prev-arrow {
    margin-left: 0;
}

.slider-arrows .slide-arrow.next-arrow {
    margin-right: 0;
}

.slick-dots {
    padding: 0;
    list-style: none;
    text-align: center;
    width: 100%;
    margin: 30px 0 0;
}

.slick-dots li {
    display: inline-block;
    margin: 0 8px;
}

.slick-dots li button {
    width: 18px;
    height: 18px;
    font-size: 0px;
    line-height: 100%;
    padding: 3px;
    border-radius: 50%;
    background: #E50914;
    border: 0;
    outline-offset: 2px;
    transition: all 0.5s ease;
}

.slick-dots li.slick-active button {
    outline: 0.5px solid #E50914;
}

/* Download App Section Styling */
.app-logo a {
    max-width: 150px;
}

.download-app-section .paragraph-text {
    max-width: 570px;
}

@media (min-width: 768px) {
    .slider-arrows .slide-arrow.prev-arrow {
        margin-left: -70px;
    }

    .slider-arrows .slide-arrow.next-arrow {
        margin-right: -70px;
    }

    .slider-arrows {
        top: 50%;
        transform: translateY(-50%);
    }

    /* Our Services Styling */
    .our-services .services-box {
        padding: 32px;
    }

    .our-services .services-box .icon {
        width: 60px;
        height: 60px;
        margin-bottom: 30px;
    }

    /* Our Partner Styling */
    .our-partners .inner-container {
        padding: 60px 15px;
    }

    /* Section Content Head Styling */
    .section-main {
        padding-top: 80px;
        padding-bottom: 80px;
    } 

    .section-content-wrapper {
        margin-bottom: 50px;
    }
}

@media (min-width: 992px) {
    .slider-arrows .slide-arrow {
        width: 60px;
        height: 60px;
        font-size: 24px;
    }

    .slider-arrows .slide-arrow.prev-arrow {
        margin-left: -80px;
    }

    .slider-arrows .slide-arrow.next-arrow {
        margin-right: -80px;
    }

    .slick-dots {
        margin: 50px 0 0;
        padding: 0px;
    }

    .header-main .navbar-nav .nav-link:after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: var(--dark-red);
        margin-top: 2px;
        transition: 0.5s all ease;
    }

    .header-main .navbar .navbar-brand img {
        max-width: 245px;
    }

    .header-fixed-space {
        height: 130px;
    }

    /* Our Services Styling */
    .our-services .services-box {
        padding: 50px;
    }

    .our-services .services-box .icon {
        width: 66px;
        height: 66px;
        padding: 15px;
        margin-bottom: 40px;
    }
    /* Our Partner Styling */
    .our-partners .inner-container {
        padding: 80px 15px;
    }

    /* Section Content Head Styling */
    .section-main {
        padding-top: 100px;
        padding-bottom: 100px;
    } 

    .section-content-wrapper {
        margin-bottom: 60px;
    }
}

@media (min-width: 1200px) {
    .slider-arrows .slide-arrow {
        width: 84px;
        height: 84px;
        font-size: 28px;
    }

    .slider-arrows .slide-arrow.prev-arrow {
        margin-left: -100px;
    }

    .slider-arrows .slide-arrow.next-arrow {
        margin-right: -100px;
    }
}